[2020-03-19 11:35] cloudwheels opened #8 "evonet requires EXTERNAL_IP & CORE_MASTERNODE_BLS_PRIV_KEY env vars to start"
**recreate error:**

`cp .env.evonet .env`

`docker-compose up`
[code]
**issue:**
CORE_MASTERNODE_BLS_PRIV_KEY & CORE_EXTERNAL_IP need to be specified in .env file.
CORE_EXTERNAL_IP : not a problem!
CORE_MASTERNODE_BLS_PRIV_KEY & CORE_EXTERNAL_IP: requires masternode registration
- can a dummy key be used instead?
- this would (I assume) prevent the node from acting as a proper masternode - will t

[2020-03-19 11:43] cloudwheels opened #9 "`--env-file` is not a valid option for `docker-compose up`"
**recreate**
`docker-compose up --env-file=.env`

**issue**
readme.md specifies using  --env-file as method of passing .env to docker compose.
Docker compose returns valid options list: `--env-file` is not a valid option  for `docker-compose up` (only for `docker run`)

**sugged fix**
remove option from readme.md

[2020-03-19 11:50] cloudwheels opened #10 "Specify `sudo` as default for `docker compose up` (or Win equivalent)"
**recreate**
(without sudo)
`docker-compose up`
[code]

**issue**
(Linux) Default docker installation requires `sudo`.
Resulting error message is unclear

**suggested fix**
Update readme.md to explain that `sudo` (or windows equivalent) may be required, or specify its use as relevant for each platform as default. i.e.:
On linux use  `sudo docker compose up`

[2020-03-19 12:01] thephez commented on #9
I had the same issue originally due to my version of docker-compose (1.24 or something). It should work with the version recommended in the [pre-reqs](https://github.com/dashevo/mn-bootstrap#pre-requisites) - 1.25+.

[2020-03-19 12:03] thephez commented on #8
It does not actually require mn registration. You can run `bls generate` on the CLI of any Dash Core node to get valid BLS keys (they are not stored in the Dash Core wallet of the node they are generated on, so any node will do).

[2020-03-19 12:45] shumkov commented on #8
Maybe we need to provide some helper scripts?

[2020-03-19 12:47] shumkov commented on #10
Yeah, we could mention it there https://docs.docker.com/install/linux/linux-postinstall/

[2020-03-20 00:28] cloudwheels opened #13 "dash-cli doesn't work in the dashpay container"
**reproduce**
[code]

**issue**
dash-cli doesn't work in the dashpay container
This may have been done for a reason but I don't understand why.

**suggested fix**
previous versions added following `volume` to dashpay container config in `docker-compose.yml`:
`./data/dash.conf:/root/.dashcore/dash.conf`

[2020-03-21 05:28] strophy commented on #13
Workaround: `dash-cli -conf=/dashd.conf <command>`

This occurs because the dash.conf file is not mounted in the default location of `~/.dashcore/dash.conf`. Mounting it to `/dash/.dashcore/dash.conf` (or `/root/.dashcore/dash.conf`) is problematic because the directory does not exist in this location in the image, so bind mounting dash.conf there will create the directory with root owner, but das

[2020-03-21 05:36] strophy opened #14 "Sentinel image is broken"
The current config uses the [`ablock/sentinel` image](https://hub.docker.com/r/ablock/sentinel), which I think is probably built from [here](https://github.com/codablock/docker-sentinel). I'm not sure what the specific problem is, but I'm getting the following sentinel error on both evonet and testnet:
[code]
I'm not sure what is causing this, it probably just hasn't been updated in 2 years. I hav

[2020-03-22 03:55] strophy opened #16 "Random password generator"
We should use random passwords for RPC to increase security. We currently use the following username and password:
[code]

It's not possible to randomly generate passwords in docker-compose because the files are supposed to be idempotent. My previous attempt at implementing this generated a [random password](https://github.com/strophy/dash-masternode-docker/blob/master/dash.sh#L7) when templating

[2020-03-23 03:30] strophy opened #17 "Script to show masternode status"
Dashman provides a `dashman status` function that shows an overview of the masternode health.
![image](https://user-images.githubusercontent.com/32928115/77278209-9fc51e00-6d23-11ea-8d93-0481b880c63a.png)

I'd like to implement something similar here, can anyone suggest an appropriate design and language to do this? Then I will make an initial attempt.

[2020-03-23 13:40] shumkov commented on #13
@strophy Are you sure it won't work?

[2020-03-24 07:43] strophy commented on #13
Yes, I'm fairly sure. We can see it in one of my previous attempts [here](https://github.com/strophy/docker-masternode/blob/master/docker-compose.yml#L10).

This implementation bind-mounts `dash.conf` to `/dash/.dashcore/dash.conf` in the container. If the datadir is not manually specified (so dashd tries to use the default, i.e. `/dash/.dashcore/` then it will encounter the following error on sta

[2020-03-24 07:45] strophy commented on #13
Discussion on this issue here: https://github.com/docker/compose/issues/3270

[2020-03-24 09:55] shumkov commented on #13
The data dir specified outside home dir so it supposed to work properly https://github.com/dashevo/mn-bootstrap/blob/7f48d00db0d750705bae689b5f8c38b8554238f9/docker-compose.yml#L15

Actually, maybe better to move the data dir to `/dash/data`

[2020-03-25 00:02] strophy commented on #13
Sure, that would work fine. The problems only occur if trying to keep both datadir and conf file in the default location, meaning the location dashd tries to put them if nothing is explicitly specified. This was my goal to keep the config as simple as possible and consistent with people using other installation methods, so that support is easier. But we can move the datadir as well, it isn't a big

[2020-03-25 09:27] shumkov commented on #13
We set `datadir` in command options so the setting from config will be overwritten. Should we close this issues?

[2020-03-25 13:45] shumkov opened #19 "Script to drop data"

[2020-03-26 00:25] strophy commented on #13
Yes, let's close this. Resolution is to mount conf file in the default location where dash-cli expects it, and set `datadir` in the options.

[2020-03-26 12:58] #13 closed

[2020-03-28 08:22] shumkov commented on #17
Yeah, that's a good idea. There is a lot of L1 and L2 status information that we can output. It would be cool to define what exactly we what to print out for the beginning. Maybe we need several status commands? Or just one with overall info + options that provide more details for a specific section.

[2020-03-29 14:15] cloudwheels commented on #17
@strophy NodeJS would make sense for language/platform, built as cli tool (but you could potentially add a web interface)

[2020-03-30 05:34] strophy commented on #17
Cool, thanks for kicking this off! I really like the way Docker commands are structured, with general information on the first command and more specific information when further options are provided. How about this for an initial set of commands:

[code]

This could be followed by further helper commands related to adding config info (`mn config xxx`) and possibly even walking the user through cre

[2020-03-30 09:05] shumkov commented on #17
Will `mn status network` be core or platform p2p info?

[2020-03-30 09:34] strophy commented on #17
I was thinking of it as similar to the network and peers tab of Dash Core, so L1 status. I don't know enough about what is going on at L2 yet to know what could/should be included from there. Maybe things like status of tendermint consensus could be there too? Input from you, other devs or maybe @thephez would be helpful.

[2020-03-30 11:31] shumkov commented on #17
Yeah, I think we need both `mn status core network` and `mn status platform network`

[2020-03-30 13:34] mangus commented on #17
I would add:
[code]

[2020-03-30 14:42] shumkov commented on #17
@mangus I guess we will have more `mn status core ...` than just `network`.

[2020-03-31 03:23] strophy commented on #17
I'd like to keep the length of commands to 1 or 2 words to keep things simple if possible. How much network information will we realistically be displaying for each one? Maybe we could just include network information in `status core` and `status platform` initially and move it out to a separate command `status network` for both later if we feel it is necessary...

[2020-03-31 12:40] shumkov commented on #17
@strophy sounds good!

[2020-04-02 05:02] strophy commented on #17
I've prepared a list of [suggested output for each command](https://gist.github.com/strophy/886de72727961402dcf47d1ab1446b50), please add your thoughts! In particular I need help with the platform status, since I am not sure what we can/should be tracking there.

[2020-04-02 18:14] shumkov commented on #17
I agree with @cloudwheels it's easier to use JavaScript and something like https://github.com/nexe/nexe
or https://github.com/zeit/pkg

[2020-04-02 18:17] shumkov commented on #17
@strophy Cool! I will take a look tomorrow.

[2020-04-25 08:06] cloudwheels opened #32 "MN Bootstrap only creates a full node, addtional steps are required to register as a masternode"
The compose project doesn't include steps to complete DIP003 registration of the masternode, as per setup instructions here: https://docs.dash.org/en/stable/masternodes/setup.html#register-your-masternode
Clarify that the project creates a full node and/or include additional helper scripts for MN registration.

[2020-04-27 13:22] cloudwheels opened #34 "`envoyproxy/envoy` image does not have a `latest` tag"
`envoyproxy/envoy` image n Docker hub does not have a `latest` tag: https://hub.docker.com/r/envoyproxy/envoy/tags

No DAPI_ENVOY_VERSION variable is specified on .env file, so container build fails due to missing image.

[2020-04-28 07:57] cloudwheels opened #36 "Update Evonet Tendermint Genesis file"
Out of date for release 0.12: consensus network doesn't start due to auth errors.

[2020-04-29 13:47] cloudwheels commented on #34
Already caught and fixed in #29

[2020-04-29 13:47] #34 closed

[2020-04-29 13:47] cloudwheels commented on #36
Fixed in #37

[2020-04-29 13:47] #36 closed

[2020-04-29 13:48] cloudwheels commented on #32
This should be covered by the introduction of #30

[2020-04-29 13:50] cloudwheels commented on #9
untested, but assume this works in v. > 1.25

[2020-04-29 13:50] #9 closed

[2020-05-13 22:23] #32 closed

[2020-05-20 06:10] strophy opened #53 "Reset command fails if tendermint is not present"
`mn reset testnet` fails with `Docker Compose error: No such service: drive_tendermint` when using the testnet preset.

## Expected Behavior
The reset command should be aware of which containers actually exist and are running before trying to run commands.

## Current Behavior
The CLI attempts to run a command on a non-existent container.

## Possible Solution
Maybe check the .env files, if these

[2020-06-08 17:01] shumkov commented on #19
Reset command implemented.

[2020-06-08 17:01] #19 closed

[2020-06-08 17:02] shumkov commented on #14
Fixed https://github.com/dashevo/mn-bootstrap/pull/41

[2020-06-08 17:02] #14 closed

[2020-06-08 17:03] shumkov commented on #10
Fixed.

[2020-06-08 17:03] #10 closed

[2020-06-08 17:04] shumkov commented on #8
@cloudwheels You don't need to deal with env using "start" command.

[2020-06-08 23:41] cloudwheels commented on #8
@shumkov great! So we can close this.
Closing - no longer an issue due to release of CLI.

[2020-06-08 23:41] #8 closed

[2020-06-09 02:11] strophy opened #61 "Abstract preset and config to separate command"
It is currently necessary to specify which network is being used in every single command. There are also a number of conditional checks for the current preset throughout the codebase to determine which network is being used, and each network has a slightly different configuration. This problem will be exacerbated when we eventually add a `mainnet` preset.

Would it be possible to separate the conf

[2020-06-09 21:38] strophy commented on #53
Fixed in #60

[2020-06-09 21:38] #53 closed

[2020-06-10 22:40] shumkov opened #68 "Restart command"
## Expected Behavior

Restart command could be useful in case of local preset with image build path options. So updating code you can restart the node and rebuild stuff.

## Current Behavior

You need make two commands: stop and then start.

## Possible Solution

Implement reset command.

## Alternatives Considered

None

## Additional Context

None

[2020-06-11 13:48] shumkov opened #70 "Use seeds instead of persistent peers for Tenermint"
## Expected Behavior

## Current Behavior

## Possible Solution

## Alternatives Considered

## Additional Context

[2020-06-14 22:08] strophy opened #71 "Consider hardware wallets in register command"
It would be great to still be able to use the register command when setting up mainnet (and testnet) masternodes with the collateral held on hardware wallets. In this case, it is not possible (or strongly not recommended) to export private keys from the hardware device. In this case, the `register` command will need some adjustment and interactive prompts to handle typical workflows for registerin

[2020-06-15 00:23] strophy opened #72 "Wrong version of core for testnet"
The latest build from the `develop` branch (e.g. currently 0.16 RC1) should generally be used on testnet, but `mn-bootstrap` currently just uses the `latest` released version (0.15) instead. I will submit a PR for this if there are no objections?

## Expected Behavior
Use https://hub.docker.com/r/dashpay/dashd-develop images for testnet

## Current Behavior
Currently using https://hub.docker.com/r

[2020-06-16 14:52] shumkov opened #74 "`upgrade` option to `start` command"
## Current Behavior

the `start` command starts the current existing images

## Possible Solution

If the `upgrade` option is passed start command will pull docker images before start.

## Alternatives Considered

None

## Additional Context

None

[2020-06-18 16:13] shumkov opened #78 "Start Core and Tendermint containers with specific users"
## Expected Behavior

In order to secure Tendermint and Core data, corresponding containers should be started with specific users and data dirs should be owned by those users.

## Current Behavior

## Possible Solution

## Alternatives Considered

## Additional Context

[2020-06-21 05:04] strophy commented on #72
Actually dashd-develop is not very useful either, since it is now showing Dash Core 0.17, when we currently want to be testing 0.16 RC1. Not sure if we should drop this or ask core devs if they can change their automated build rules on Docker Hub?

[2020-06-21 05:25] strophy commented on #68
To do this, I think we either need to store the config state somewhere (like in #61) or somehow use the `history` command to retrieve it?

[2020-06-21 10:29] shumkov commented on #68
Yeah, we need the `config` command

[2020-06-27 04:58] strophy commented on #61
OK, I have a WIP for the `config` command [here](https://github.com/strophy/mn-bootstrap/tree/config-util). Can you help evaluate my approach and see if this makes sense? It is based on the [Stream CLI](https://github.com/GetStream/stream-cli/tree/master/src/commands/config). A few questions:

1. Should we be saving the config all in one file with nested JSON, or multiple flat files?
2. Which spec

[2020-07-02 17:55] shumkov commented on #61
Cool! I'll take a look:

1. I think, one JSON file is ok.
2. I would move everything to configs and pass all env variables directly to docker-compose. But there is one case when we need `.env` when we want to use Docker Compose CLI so in order to address it we could add `config:dump <name>` that will create `.env` with env vars for a specific config.
3. I would read configs in createDIContainer an

[2020-07-06 06:01] strophy commented on #61
Thanks for the comments!

1. I had a go at changing it so configs are stored in a single file and it resulted in a lot of code that I found difficult to read because of difficulty handling the array indices. Is there a good reason to keep it all in a single file? Or a nicer way of modifying how the data is passed around? A function like `set` shouldn't need access to the entire array of all config

[2020-07-08 12:23] shumkov commented on #61
1. I feel it will be ok when we introduce 2 classes so it doesn't matter how you store data:
   * Config
       * `getName()` - returns name
       * `get(path)` - gets property value (use `lodash.get` to access nested properties)
       * `set(path, value)` - sets property value  (use `lodash.set` to access nested properties)
       *  `reset()` - resets config to default. you need to store `from

[2020-07-23 11:32] dkaparis opened #104 "Containers restarting running masternode"
## Expected Behavior
Docker containers dash_masternode_* should stay up

## Current Behavior
Containers `dash_masternode_evonet_drive_tendermint_1`, `dash_masternode_evonet_drive_abci_1` and `dash_masternode_evonet_core_1` are continuously restarting

Partial log outputs:

`docker logs dash_masternode_evonet_drive_tendermint_1`:
[code]

`docker logs dash_masternode_evonet_drive_abci_1`:
[code]

`d

[2020-07-23 13:04] shumkov commented on #104
Please do `chown -R 777 data` from your mn-bootstrap dir.

[2020-07-23 14:11] dkaparis commented on #104
I suppose you mean `chmod -R 777 data`

This appears to solve the issue - all containers stay up without restarting so far. Perhaps it should be added to the documentation.

[2020-07-23 15:03] shumkov commented on #104
Oh, sorry, my bad.

@strophy Could you update the README, please?

[2020-07-24 01:48] strophy commented on #104
I cannot reproduce this bug after 5-6 attempts following different sequences setting up from scratch. I think making the datadir globally writeable is a hack, I would rather find out how we are ending up in this state, since two separate users have come forward with this problem now. It's most likely a missing step during setup, @dkaparis can you verify you added your non-root user to the `docker`

[2020-07-24 07:35] dkaparis commented on #104
I ran the whole setup and do the starting from the root account, so I didn't. Maybe that's where the problem lies, if so it should be noted. As it is now, these post-installation steps are described as optional.

[2020-07-24 08:45] strophy commented on #104
The post-installation steps are only optional if you do not use the CLI. The CLI must be run as a non-root user, or the container will not be able to write to the filesystem. I think I have tracked down the error, you need to make sure that the `npm install` command in particular is NOT run as the root user, i.e. do not use sudo. I worked through this with another user experiencing the same proble

[2020-07-25 14:03] dkaparis commented on #104
Following the above procedure from a clean install (modified for Debian 10), all containers run except for dash_masternode_evonet_drive_tendermint_1 which is again restarting.

`docker logs dash_masternode_evonet_drive_tendermint_1`
[code]

[2020-08-06 07:04] #74 closed

[2020-08-06 07:05] shumkov commented on #104
This one is related #78

[2020-08-06 22:06] shumkov commented on #61
I’ve proposed another structure in your repo. I would also add validation of config with JSON Schema in order to maintain the right structure. I would add `Config#validate` and call it on `Config#set` to prevent of adding wrong options. Also, we need to validate the whole config file on the `read` and `write`.

[2020-08-15 22:35] #61 closed

[2020-08-23 11:37] cloudwheels opened #130 "Unable to npm install latest dev version of mn-bootstrap (v0.15-dev branch)"
## Expected Behavior
`npm install` should install package dependencies

## Current Behavior
[code]
[code]
## Possible Solution

Fix or update dependency on @dashevo/wallet-lib@7.15.0-dev.2

## Steps to Reproduce (for bugs)
As above

[2020-08-23 11:48] #130 closed, assigned to nobody

[2020-10-05 13:17] cloudwheels opened #151 "Incorporate setting log levels into the mn-bootstraps"
Create menu option to adjust docker log level environment variable

[2020-10-08 01:35] strophy commented on #78
Resolved in #123

[2020-10-08 01:35] #78 closed

[2020-10-19 16:36] jawid-h opened #159 "Revert config values written into config if command failed"
Whenever command that writes values into config fails we end up with a dirty config that prevents subsequent runs of any command. It's then required to run `mn config:reset` which cleans any settings set manually before. And we have to re-set them again.

## Expected Behavior

## Current Behavior

## Possible Solution

## Alternatives Considered

## Additional Context

[2020-10-22 13:21] PanzerknackerR opened #169 "No Dash for the Evonet"
With this function  " mn wallet:mint AMOUNT " you can only create Dash for LOCAL.

## Possible Solution

Change:

    if (network !== NETWORKS.LOCAL) {
      throw new Error('Only local network supports generation of dash');
    }

to:

    if (network !== NETWORKS.LOCAL || network !== NETWORKS.EVONET) {
      throw new Error('Only local or evonet network supports generation of dash');
    }

## S

[2020-10-22 13:29] antouhou commented on #169
You can't do `generate` for evonet, as it's a real testnet network that uses real miner to mine coins. You can get evonet coins from a faucet: http://insight.evonet.networks.dash.org/

[2020-10-22 13:34] RobinBuchta commented on #169
okey thanks for your answer.

"If using a config specifying the local or evonet network, you can create and fund a new address using the wallet command as shown below."

Because of the sentence I assumed, the function would be wanted.
The documentation led me in the wrong direction.

[2020-10-22 13:37] #169 closed

[2020-10-22 13:37] PanzerknackerR commented on #169
It seems that the code is fine, only the documentation was misleading.

[2020-10-22 13:39] antouhou commented on #169
@PanzerknackerR Thank you for the suggestion! We'll update the docs

[2020-11-10 20:28] shumkov commented on #151
It's done https://github.com/dashevo/mn-bootstrap/pull/172

[2020-11-10 20:28] #151 closed

[2020-11-10 20:29] shumkov commented on #104
Is it still actual, since we moved data to docker volumes?

[2020-11-10 20:30] shumkov commented on #72
Still actual?

[2020-11-10 20:30] shumkov commented on #68
It's done on #152

[2020-11-10 20:30] #68 closed

[2020-11-11 18:28] strophy commented on #72
No, we need to reconsider how the CI builds RC and develop branch images first. mn-bootstrap has all the changes it needs to support this already since we now allow the user to specify any docker image for core. Closing the issue for now.

[2020-11-11 18:28] #72 closed

[2020-11-11 18:30] strophy commented on #104
Right, I'm fairly sure this can be closed because docker volumes handle permissions much better than bind mounting the datadir. @dkaparis please open another issue if you are still having problems.

[2020-11-11 18:30] #104 closed

[2020-11-22 23:28] dashameter opened #181 "Enabling miner before running setup-for-local-development throws error"
Setting

[code]

before running `setup-for-local-development` throws:

[code]

enabling the miner after first running `setup-for-local-development` works.

[2020-11-24 14:37] dashameter opened #182 "setup-for-local-development throws 429 rate limiter error, should allow configuration or rate limit"
Local node throws 429 rate limiter error:

[code]
Shumkov:
We removed rate limiter for local at some point but it seems it came back with new config templates refactoring. For now, you can just comment out rate limiter in nginx template.

We need to introduce  rateLimiter options to nginx section I believe and make it configurable.

https://discordapp.com/channels/670271785974890526/77890342887659

[2020-11-27 21:58] strophy commented on #181
I cannot reproduce this from the current `master` branch. The miner starts fine and generates blocks at the specified interval and to the specified address, even if entered in the config before setting up for local development. @dashameter please ensure you have cleaned up any data and config left over from previous work, e.g. as follows:
[code]

Can you verify?

[2020-11-28 01:48] dashameter commented on #181
I reset everything and tried it again and can confirm I now longer see this error thrown. I had reset and repeated this multiple times before when I saw this error, not sure if `master` updated in the meantime or if it was a bad config on my local machine that the reset didn't reset.. closing issue for now.

[2020-11-28 01:48] #181 closed

[2020-12-04 03:25] #182 closed

[2020-12-15 19:06] strophy opened #208 "Show progress in Listr for slow tasks"
Listr can appear to hang when doing a slow operation like downloading images for the first time. We should show this progress.

## Expected Behavior
Progress bar should be included in Listr output

## Current Behavior
Listr appears to hang

## Possible Solution
Redirect stream from docker-compose to Listr task.output?

## Alternatives Considered

## Additional Context

[2020-12-16 06:57] antouhou commented on #208
Oh yeah, that would be great. Just thought about it yesterday - mn-bootstrap works very slowly in Travis and no build passes at the moment, so that would help a lot with that

[2020-12-17 05:30] dashameter opened #210 "Unknown Content-type received."
Node in local development configuration often reponds with:
[code]

Terminating the js-dash-sdk connection.

Details: [https://discordapp.com/channels/670271785974890526/670599939528851476/788768640702218281](https://discordapp.com/channels/670271785974890526/670599939528851476/788768640702218281)

Setup:
[https://github.com/dashameter/evowallet#setup](https://github.com/dashameter/evowallet#setup

[2021-01-12 19:08] strophy opened #240 "Refactor `reset` command"
The `reset` command should be refactored to run `unsafe_reset_all` rather than drop the volume, since init data is still required to start the node. To drop all data (including config) we should have a `reset --hard` command, which also resets config and does not run init again.

## Expected Behavior
It should be possible to start a node after reset without running setup again.

## Current Behavio

[2021-01-12 21:10] strophy opened #243 "Pull bootstrap data to speed up initial sync"
Syncing testnet is slow.

## Expected Behavior
Testnet sync is faster

## Current Behavior
Testnet sync is slow

## Possible Solution
It might be faster to pull a `bootstrap.dat` file from https://github.com/UdjinM6/dash-bootstrap to ensure the bottleneck is local node performance and not network.

## Alternatives Considered

## Additional Context

[2021-01-12 21:17] thephez commented on #243
My primary bottleneck has been platform syncing. Core takes < 1hr for me. Platform was running for 2+ hrs and was only about 40% done.

[2021-01-12 21:23] strophy commented on #243
Interesting. I wonder if a bootstrap is possible for Tenderdash as well, or if other options are available to speed up sync there.

[2021-01-14 18:03] strophy opened #244 "Containers do not accept new settings when restarted"
Any changes to config that affect the configuration of a container will not be applied until the container is destroyed and recreated.

## Expected Behavior
Changing config and restarting containers should apply config changes

## Current Behavior
Changing config and restarting containers keeps the old config

## Possible Solution
It should be possible to force docker-compose to rebuild the contai

[2021-01-15 22:03] strophy commented on #208
I got _really_ stuck here trying to understand streams and promises, so I'm not sure if this approach is correct. Output currently looks like this:
[code]

I wonder if we could at least match the indentation of the task displaying the output somehow? And maybe filter to only show some of the output (e.g. lines starting with "Pulling")?

[2021-01-18 03:54] strophy commented on #244
@shumkov can you give me instructions to reproduce this? When I run:
[code]
The port is reconfigured in the template by mn-bootstrap as expected. The changed environment variable also causes docker-compose to rebuild all containers (example from my branch piping docker-compose stdout to process.stdout):
[code]
Which settings were not applied for you?

[2021-01-18 07:42] shumkov commented on #244
You can try to change any options which are passed as envs to containers in docker-compose config. For example `platform.drive.log.level`.

[2021-01-18 20:26] strophy commented on #244
`core.rpc.port` is passed as envs to containers, see here: https://github.com/dashevo/mn-bootstrap/blob/v0.18-dev/docker-compose.platform.yml#L26

Changing a config option that is passed as an env causes docker-compose to recreate the container next time it launches, because the envs have changed. The behaviour you are requesting seems to already be the case for me.

[code]

[2021-01-19 05:45] strophy opened #246 "Handle updates in a separate command"
Whether or not to update a masternode to a particular dashd binary is an important decision with implications for Dash consensus. The update command should be implemented to make updating an explicit action, and can also be used to update configs if it detects systemConfigs have been updated (via git).

We should also implement a method that detects (in status?) if a new version of mn-bootstrap ha

[2021-01-19 18:01] strophy opened #248 "Running mn setup local should ask for miner and interval"
A miner is required to move the blockchain when using the local config. The setup command should ask the user if they want to enable the miner, and the target block interval.

## Expected Behavior
mn setup asks the user for miner details during interactive conf

## Current Behavior
mn setup does not handle mining settings

## Possible Solution

## Alternatives Considered

## Additional Context

[2021-01-25 06:04] shumkov commented on #244
Oh.. My bad. Sorry for the confusion.

On Tue, 19 Jan 2021 at 04:26, strophy <notifications@github.com> wrote:

--
Best regards,
Ivan Shumkov

[2021-01-26 13:34] shumkov commented on #244
I think I got the problem. I've created `.env` file using `mn config:envs -o .env` and even if we run docker-compose from NodeJS it still reads this outdated `.env` file. Any thought on how can we mitigate it? Maybe we should check on node start that `.env` is present and should throw an error, like "conflicting configuration detected in `.env` please remove it and use `mn config` to configure the

[2021-02-03 19:20] strophy commented on #240
Closed by #249

[2021-02-03 19:20] #240 closed

[2021-02-04 04:28] strophy opened #262 "Reset should recreate collateral and protx for local node"
Resetting a local node will need to recreate the collateral and protx before the system is usable again. We should recreate this when running reset on local, or alternatively automate something like `mn reset && mn setup local`.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environ

[2021-02-09 07:17] strophy opened #269 "Fedora support"
mn-bootstrap needs to be tested on non-Ubuntu platforms. Let's test CentOS/Fedora/Redhat first.

## Expected Behavior

## Current Behavior

## Possible Solution

## Alternatives Considered

## Additional Context

[2021-02-10 13:58] thephez opened #270 "Sentinel status error on full node"
## Expected Behavior

Sentinel is only required on masternodes so it doesn't need to run on full nodes.

## Current Behavior

Sentinel runs and an error message is displayed for Sentinel status when running as a full node only.

![image](https://user-images.githubusercontent.com/8145677/107519007-b06dc500-6b7d-11eb-9ba8-02a161a7f768.png)

![image](https://user-images.githubusercontent.com/8145677/

[2021-02-12 07:50] shumkov opened #271 "Reset command should remove tenderdash data files instead of `unsafe_reset_all`"
## Expected Behavior

`unsafe_reset_all` supposed to reset tenderdash state but it does it unsafely keeping something in the state which breaks further block production.

## Current Behavior

`unsafe_reset_all` is used in reset command

## Possible Solution

Delete all files from tenderdash `data` directory and generate new `priv_validator_state.json` with `tenderdash gen_validator` command.

## Y

[2021-02-13 22:52] strophy commented on #271
I don't think we currently use `unsafe_reset_all` in the reset command, where did you see this? We drop the volume and regenerate the validator state with `tenderdash init` instead.

[2021-02-14 06:44] shumkov commented on #271
Oh... My bad.

[2021-02-14 06:44] #271 closed

[2021-02-15 00:18] PastaPastaPasta opened #273 "Implement Disk Usage monitoring and take proactive steps to retain maximum functionality"
Core is completely separated. The security properties declare that even if platform is completely compromised, it should not affect core. As exposed by recent testnet downtime, one problem is handling excessive disk usage.

## Expected Behavior
In the case of excessively high disk usage, non-core / non-critical services are initially turned off, then if disk usage continues to advance, non-core /

[2021-02-19 04:15] strophy commented on #70
Resolved in #150

[2021-02-19 04:15] #70 closed

[2021-02-22 21:48] thephez opened #280 "Confirmation step for significant commands"
## Expected Behavior

It could be helpful to require confirmation for certain high-impact commands (like the `mn reset -h` I just accidentally ran on the wrong machine :facepalm:).

## Current Behavior

No confirmation required

## Possible Solution

A simple yes/no option to prevent some accidental operations. It would be nice to see something similar to:
"You are about to \<do operation> on <som

[2021-02-22 21:48] thephez opened #468 "Confirmation step for significant commands"
## Expected Behavior

It could be helpful to require confirmation for certain high-impact commands (like the `mn reset -h` I just accidentally ran on the wrong machine :facepalm:).

## Current Behavior

No confirmation required

## Possible Solution

A simple yes/no option to prevent some accidental operations. It would be nice to see something similar to:
"You are about to \<do operation> on <som

[2021-02-22 21:48] thephez opened #469 "Confirmation step for significant commands"
## Expected Behavior

It could be helpful to require confirmation for certain high-impact commands (like the `mn reset -h` I just accidentally ran on the wrong machine :facepalm:).

## Current Behavior

No confirmation required

## Possible Solution

A simple yes/no option to prevent some accidental operations. It would be nice to see something similar to:
"You are about to \<do operation> on <som

[2021-03-01 04:56] strophy opened #284 "register masternode in setup command on testnet"
Since developers will be working on testnet to prepare platform clients, they will need to be able to set up and register masternodes locally as well. A warning as suggested in #280 should be included, and several checks to ensure the function cannot be used on mainnet.

## Expected Behavior
`mn setup testnet masternode` should offer to register the masternode as well, given a private key with suf

[2021-03-09 23:55] #284 closed

[2021-03-23 02:48] strophy opened #312 "Cannot reset --platform-only for single testnet node"
It is not possible to `mn reset --platform-only` with a masternode single-node testnet config.

## Expected Behavior
Platform config is reset

## Current Behavior
Platform config is not reset, error thrown.

## Possible Solution
We probably need to enable platform services in config for non-group configs?

## Steps to Reproduce (for bugs)

1. Start a testnet node
2. Stop it
3. `mn reset --platform

[2021-03-24 02:44] shumkov commented on #312
Which version/branch of mn-bootstrap do you use?

[2021-03-24 20:51] strophy commented on #312
This is with `npm-cache` branch.

[2021-03-26 13:02] shumkov commented on #312
Fixed in `npm-cache`

[2021-03-26 13:02] #312 closed

[2021-04-10 12:56] QuantumExplorer opened #323 "Local Tenderdash Image is not used"
If a local Tenderdash image is selected, that image is still being tried to be fetched from docker-hub.

## Expected Behavior
It should use the local image.

## Current Behavior
It pulls/attempts to pull an image from docker-hub.

## Possible Solution
Don't pull if image already exists locally.

[2021-04-18 16:27] shumkov opened #328 "Configure miner during local network setup"
## Expected Behavior

The local network is working after starting nodes.

## Current Behavior

Nodes are not starting because miner is disabled by default

## Possible Solution

Propose to enable miner for specific interval during setup local network

## Alternatives Considered

## Additional Context

[2021-05-19 12:44] thephez opened #356 "Firewall blocking Tenderdash communication with local setup"
## Expected Behavior

Setting up a local node (e.g. `dashmate setup local --node-count=3`) should complete successfully without requiring modifications to the local machine's firewall settings.

## Current Behavior

Setup fails on the Register DPNS identity step. Drive logs seem to indicate Tenderdash communication issues.

dashmate verbose output
[code]

drive_tenderdash log
[code]
## Possible So

[2021-05-20 09:00] strophy opened #359 "`No such service: drive_tenderdash` when running group:status"
## Expected Behavior
Status command should return status info for seed nodes

## Current Behavior
Node local_seed
    DockerComposeError: Docker Compose error: No such service: drive_tenderdash

## Possible Solution
Look at how the group command calls the status command

## Steps to Reproduce (for bugs)

1. dashmate setup local
2. dashmate group:start
3. dashmate group:status
4.

## Context

Tryin

[2021-06-03 15:18] dashameter opened #372 "DockerComposeError: Docker Compose error: No such service: drive_tenderdash"
[code]

trying to connect to dashmate throws

[code]

[2021-06-08 11:23] cloudwheels opened #374 "`dashmate setup local` is failing with an `invalid IP address` error"
`dashmate setup local` is failing with an `invalid IP address` error:

`dashmate setup local`
[code]
## Expected Behavior
Setup local succeeds

## Current Behavior
Set local fails

## Possible Solution

## Steps to Reproduce (for bugs)
[code]
## Context
Unable to work on local build

## Your Environment

* Version used: v0.20.0-dev.3
* Environment name and version (e.g. Chrome 39, node.js 5.4): no

[2021-06-08 11:35] cloudwheels opened #375 "`dashmate reset --hard` throws error `Invalid Version: 19.03.13` (running `v0.20.0-dev.3`)"
## Expected Behavior
Hard reset succeeds

## Current Behavior
Hard reset fails. Unclear as to what the Invalid Version number related to

## Possible Solution

## Steps to Reproduce (for bugs)

`dashmate reset --hard && dashmate update`
[code]

## Context
Unable to reset dashmate config & data

## Your Environment

* Version used: v0.20.0-dev.3
* Environment name and version (e.g. Chrome 39, node.

[2021-07-05 10:32] ICJR opened #394 "Local windows install fails due to manual `tmp` directory path"
Local windows install fails on my machine. The issue is linked to the manual absolute path '/tmp/' used to write log files.

## Possible Solution

- [pull request](https://github.com/dashevo/dashmate/pull/393)

## Context

- Absolute path causes installer to create '/tmp/' directory outside of dashmate directory. Replaced `/tmp/` path with `os` node package to resolve the issue.

[2021-08-12 13:30] dashameter opened #413 "temp reset script quits with error on v20 master"
Upgraded 20-dev to master (8f18797) and ran:

[code]

[2021-08-12 13:40] thephez commented on #413
Appears that it's trying to register the old DPNS contract instead of the one in https://github.com/dashevo/dpns-contract/pull/25. The correct one is in the current master [package.json](https://github.com/dashevo/dashmate/blob/master/package.json#L53). Did you update dependencies after pulling master?

[2021-08-12 14:44] #413 closed, assigned to nobody

[2021-08-15 10:51] strophy commented on #394
Resolved in #393

[2021-08-15 10:51] #394 closed

[2021-08-20 06:45] 0xcodecrafterx opened #419 "Dashmate local setup error after reinstalling OS"
## Expected Behavior

As dash dapp maintainer, maintainer should be able to run dashmate setup locally only after reinstalling the OS and following dashmate instructions precisely.
## Current Behavior

 Error received when running the reset scripts.
Error message:
`Error: Default group is not set. Please use --group option or set default group`
## Possible Solution

https://github.com/dashameter/j

[2021-08-20 06:52] #419 closed, assigned to nobody

[2021-08-20 06:53] cowboy9 opened #420 "Dashmate local setup error after reinstalling OS"
## Expected Behavior

As dash dapp maintainer, maintainer should be able to run dashmate setup locally only after reinstalling the OS and following dashmate instructions precisely.
## Current Behavior

 Error received when running the reset scripts.
Error message:
`Error: Default group is not set. Please use --group option or set default group`
## Possible Solution

https://github.com/dashameter/j

[2021-08-22 17:30] dashameter opened #421 "dashmate hangs during setup"
my drive container keeps restarting and show these docker logs
[code]

I had these folders in /tmp
[code]

I deleted them and ran `sudo chmod 777 /tmp` for good measure, now dashmate finished with success

[2021-09-07 18:13] dashameter commented on #375
@cloudwheels can you confirm if this issue is still current with v.20 on master branch or close it if it is fixed?

[2021-09-07 18:14] dashameter commented on #374
@cloudwheels can you confirm if this issue is still current with v.20 on master branch or close it if it is fixed?

[2021-09-07 18:17] dashameter commented on #372
appears fixed on v.20 master, closing for now

[2021-09-07 18:17] #372 closed

[2021-09-07 18:18] dashameter commented on #359
@strophy can you confirm this issue is still current on v.20 master and if not close the issue ?

[2021-09-07 18:22] dashameter commented on #270
@thephez is this issue still current in v.20 master?

[2021-09-07 18:25] dashameter commented on #262
@strophy is the temp reset script that ships with dashmate sufficient to cover the scope of this issue or shall we keep this issue open and create an incubator bounty for it?

[2021-09-07 18:28] dashameter commented on #244
@strophy can you confirm shumkovs notion of the issue and is it still current in v.20 master?

[2021-09-07 18:29] cloudwheels commented on #374
Will check asap...

On Tue, 7 Sep 2021, 19:14 dashameter, ***@***.***> wrote:

[2021-09-07 18:31] dashameter commented on #210
Seems fixed in v.20 master, closing for now

[2021-09-07 18:31] #210 closed

[2021-09-07 18:32] dashameter commented on #208
Can we also show an error if a docker container keeps restarting ? (Drive likes to do that, then you just see a stuck `Task without a title` but you don't know if it just tasks long or if something has gone bad in the background)

[2021-09-07 18:34] dashameter commented on #17
@strophy was the feature merged and this issue can be closed?

[2021-09-07 19:38] thephez commented on #374
FWIW, I'm not having this issue on 0.21-dev

[2021-09-09 18:50] strophy opened #423 "Add --reindex option"
## Expected Behavior

Sometimes it is necessary to start dashd with the `--reindex` option (e.g. if the chain is corrupt or new addresses were added). It should be possible to add a flag to the `dashmate start` command to achieve this.

## Current Behavior

Currently this can be achieved with a workaround by editing `templates/core/dash.conf.dot` and adding `reindex=1` there, then removing it agai

[2021-09-10 09:20] SamKirby22 commented on #421
Discussed in triage. Fix due in v21

[2021-09-10 09:20] SamKirby22 commented on #420
Discussed in triage and agreed to close.

[2021-09-10 10:25] strophy commented on #374
Cannot reproduce on `v0.20` or `v0.21-dev`, closing this issue.

[2021-09-10 10:25] #374 closed

[2021-09-10 10:39] strophy commented on #375
Cannot reproduce on `v0.20` on current master branch. The version number you are seeing relates to Docker.

It looks like you modified the "base" config, but this is intended to be used as a template for user configs when creating your own network. You can use `dashmate config:list` to view configs for existing networks and `dashmate config:default` to select one of them, or `dashmate config:creat

[2021-09-10 10:39] #375 closed

[2021-09-10 10:43] strophy commented on #248
Resolved in #360

[2021-09-10 10:43] #248 closed

[2021-09-10 10:45] strophy commented on #246
Mostly resolved in #327 and status command also does basic checks to inform the user about more recent versions.

[2021-09-10 10:45] #246 closed

[2021-09-10 13:03] #420 closed, assigned to nobody

[2021-09-11 08:26] dashameter commented on #359
@shumkov I just retested this and I still get on v.20:

[code]

[2021-09-13 11:00] strophy commented on #359
This occurs because the seed node does not run Tenderdash. PR #424 has a fix (unless we intend to add Tenderdash to the seed node)

[2021-09-17 08:28] dash-maverick commented on #359
@strophy since the #424 is already merged, is the initial issue solved ?

[2021-09-17 09:38] strophy commented on #359
Yes, this is resolved now

[2021-09-17 09:38] #359 closed

[2021-09-20 09:20] dashameter opened #430 "dashmate hangs during restart"
when running `dashmate group:stop` and later `dashmate group:start` dashmate hangs indefinitely at `forcing nodes to sync`

[code]

[2021-09-24 08:32] dash-maverick commented on #430
Fix for that issue is currently under progress

[2021-09-24 10:45] shumkov commented on #430
Fixed in #428 and #431

[2021-09-27 11:03] strophy opened #435 "Dashmate should generate Dash to a faucet address on init"
## Expected Behavior

After starting a local node, it is often necessary to get a balance. This should be done and shown to the user during init.

## Current Behavior

User currently needs to use `dashmate --config=local_seed wallet:mint 1` to generate balance

## Possible Solution

## Alternatives Considered

## Additional Context

[2021-09-30 07:39] dashameter commented on #270
on v.21 the sentinel status line still throws an error in fullnode mode

[2021-09-30 07:44] dashameter commented on #421
v.21-dev still hangs, one way to trigger it is to restart the computer while the node is running:

the log files are mounted as directories
[code]

the workaround is:
`sudo rm -rf /tmp/drive_*`

[2021-10-05 09:21] SamKirby22 commented on #421
@dashameter, as per discord convo, please retest. Should be fixed due to:

https://github.com/dashevo/dashmate/pull/437

[2021-10-05 09:23] SamKirby22 commented on #430
@dashameter, as per discord convo, please retest. Should be fixed due to:

https://github.com/dashevo/dashmate/pull/437 (confirmed by Strophy)
+
https://github.com/dashevo/dashmate/pull/428
https://github.com/dashevo/dashmate/pull/431 (as above confirmed by shumkov)

[2021-10-05 10:01] dash-maverick commented on #421
exactly - please let me know as we've been also discussing that today with the Team (should be fixed now)

[2021-10-06 15:21] strophy commented on #270
Should be resolved in #443, @dashameter please feel free to re-open if the issue persists for you

[2021-10-07 12:49] dashameter commented on #430
passed retest :+1:

[2021-10-07 12:49] #430 closed, assigned to nobody

[2021-10-07 12:49] dashameter commented on #421
passed retest :+1:

[2021-10-07 12:49] #421 closed, assigned to nobody

[2021-10-08 07:19] SamKirby22 commented on #270
@strophy - can we keep this open for now (I don't have/can't find acccess to reopen). We're tracking this fix and have a task for retesting and closing.

[2021-10-08 07:56] shumkov commented on #270
Done!

[2021-10-08 09:58] dashameter commented on #270
retest passed :+1:

[2021-10-10 02:12] dash-maverick commented on #270
Thanks for the confirmation. @SamKirby22 @dashameter feel free to close in that case.

[2021-10-10 04:29] SamKirby22 commented on #270
Thanks. Closed.

[2021-10-10 04:29] #270 closed

[2021-11-01 11:27] dashameter opened #460 "UnhandledPromiseRejectionWarning: Error: Invalid instant lock proof signature during Identity creation"
Using v21 sdk/dashmate I got an error during identity registration:

`(node:771073) UnhandledPromiseRejectionWarning: Error: Invalid instant lock proof signature`

I sent a L1 tx to the wallet to pay for the credits, the tx had matured 10 mins or so. Creating a new wallet and sending a fresh L1 tx worked.

[2021-11-01 11:27] dashameter opened #467 "UnhandledPromiseRejectionWarning: Error: Invalid instant lock proof signature during Identity creation"
Using v21 sdk/dashmate I got an error during identity registration:

`(node:771073) UnhandledPromiseRejectionWarning: Error: Invalid instant lock proof signature`

I sent a L1 tx to the wallet to pay for the credits, the tx had matured 10 mins or so. Creating a new wallet and sending a fresh L1 tx worked.

[2021-11-01 11:29] dashameter opened #461 "rm drive_json.log: Permission denied"
running the temp reset script a second time throws this error:

[code]

those .log files are directories and must be deleted with `sudo`

This can be reproduced by restarting the system while `dashmate` is still running and then re-running the temp reset script.

[2021-11-04 08:57] SamKirby22 commented on #460
Thanks @dashameter - issue added to triage sheet.

[2021-11-04 08:58] SamKirby22 commented on #461
Thanks @dashameter - issue added to triage sheet.

[2021-11-06 11:19] dashameter commented on #461
`sudo rm -rf ~/.dashmate/local_1/logs/drive_*.log` is the current workaround

[2021-11-06 16:46] strophy opened #463 "IP address in status:core should appear red if not matching currently detected IP address"
## Expected Behavior

## Current Behavior

## Possible Solution

## Alternatives Considered

## Additional Context

[2021-11-07 07:51] SamKirby22 commented on #461
Issue and workaround added to triage sheet for tracking.

[2021-11-08 08:35] d01mf opened #464 "Add remove command"
Add feature 'dashmate remove' to completely remove/uninstall the node. On top of my head that would be the .dashmate directory, docker containers and docker volumes. Perhaps more?

[2021-11-10 13:05] shumkov commented on #464
Hello! Thank you for your thoughts.

There are commands `dashmate reset --hard` and `dashmate group:rest --hard` to drop all data what you mentioned for sepcific config and group respectively.

We could probably add an additional `--all` option to rest all configs and drop dashmate homedir.

[2021-11-13 09:12] strophy commented on #17
Yes, this is done. Thanks!

[2021-11-13 09:12] #17 closed

[2021-11-16 14:49] Arne96R opened #465 "Wallet is disabled in seed node in local preset setup"
When setting up a network of masternodes with the local preset, the wallet is not accessible on the seed node. Trying to access wallet RPCs gives a 'Method not found' error (code -32601).

## Expected Behavior
Wallet should be accessible on the seed node.

## Current Behavior
Calling wallet RPC's returns error.

## Possible Solution
As discussed in dc, this is caused by the way the nodes are start

[2021-12-02 11:21] shumkov commented on #461
New [`yarn reset`](https://github.com/dashevo/platform/blob/master/package.json#L8) (delivered in the monorepo as part v0.21) makes the temporary reset script irrelevant and removed from the monrepo.

[2021-12-03 08:21] SamKirby22 commented on #461
@dashameter as per triage, please retest

[2021-12-07 10:43] shuplenkov commented on #460
Could you describe steps to reproduce it?

[2021-12-08 10:49] dashameter commented on #461
retest failed, waiting for dashmate to be published to npm before trying again

[2021-12-10 14:36] dash-maverick commented on #461
@dashameter this is planned to be taken into development quite soon. Late next week or early the following week - this is realistic